<header >
<div class="flex flex-col">
<h1>
  Hi <%= current_user.name %>
</h1>
<% unless current_user.confirmed? %>
  <div style="color:red;">Email not verified</div>
<% end %>
</div>

<%= link_to "Sign out", sign_out_user_path%>
</header>
