<header >
<div class="flex flex-col">
<h1>
  Hi <%= current_user.name %>
</h1>
<% unless current_user.confirmed? %>
  <div style="color:red;">Email not verified</div>
<% end %>
</div>

<% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path%>
    <% else %>
      <%= link_to 'Sign in', new_user_session_path , class: 'ml-5 btn btn-primary my-2' %>
<% end %>
</header>
