<article class="user-card">
<img src="<%= user.photo %>" class="user-photo" alt="user photo">
    <div class="user-card-info">
    <h2><%= link_to user.name, user_url(user) %></h2>
    <p>Number of posts: <%= user.posts_count %></p>
    </div>
</article>
