<div class="comment-container">

<% if comments.any? %>
<% comments.includes(:user).each do |comment| %>

    <div class="comment-card">
        <div class='comment-name'> 
         <%= comment.user.name %> : <span><%= comment.text %></span>
        </div>
    </div>
<% end %>
<% else %>
<% end %>
</div>
