*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

/* utils */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  gap: 20px;
  width: 100%;
}

.user-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  text-decoration: none;
  color: black;
  border-radius: 2px;
}

.user-photo {
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  border: 3px solid black;
  height: 90%;
  object-fit: cover;
  filter: grayscale();
}

.user-card-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  height: 90%;
  justify-content: center;
  padding: 10px;
  border: 3px solid black;
  color: black;
}

.user-card-info p {
  align-self: flex-end;
  font-size: 15px;
}

.user-card-info h2 {
  color: black;
  font-size: 30px;
}

.user-bio {
  font-size: 15px;
  color: black;
  margin-top: 3px;
  border: 3px black solid;
  width: 100%;
  border-radius: 2px;
  padding: 8px;
}

.user-totalpost {
  font-size: 15px;
  text-align: right;
  width: 100%;
}

.post-text {
  font-size: medium;
  text-align: left;
  width: 100%;
  border-top: 3px solid black;
  margin-top: 10px;
  padding-top: 4px;
}

.comments {
  border: 3px solid black;
  padding: 6px;
  width: 100%;
  margin-top: -18px;
}

.comments ul {
  list-style: none;
}

.comment-container {
  border-radius: 2px;
  margin: 5px;
  width: 100%;
  padding: 8px;
  border: 3px solid black;
  color: black;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 20px;
}

textarea {
  border-radius: 15px;
  padding-left: 20px;
  padding-top: 20px;
}

.flex {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.w-100 {
  width: 100%;
}

.btn {
  background-color: #e2e8f0;
  color: black;
  padding: 15px;
  border: 1px solid black;
  font-size: 17px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  text-align: center;
}

.comment-card {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 100%;
}

.comment-name {
  font-weight: 700;
  font-size: large;
  padding: 3px;
  color: black;
}

.comment-name span {
  font-weight: 400;
  font-size: medium;
  padding: 5px;
  color: black;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 25px;
  font-weight: 700;
}

.post-details {
  font-size: 15px;
  color: black;
  font-weight: 200;
  margin-top: 3px;
  border: 3px solid black;
  width: 100%;
  border-radius: 2px;
  padding: 8px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.post-details p {
  align-self: flex-end;
}

.post-card {
  width: 100%;
  display: flex;
  align-items: start;
  gap: 5px;
  padding: 15px;
  text-decoration: none;
  color: black;
  border: 2px solid gray;
  border-radius: 15px;
}
